* {
    list-style: none;
    text-decoration: none;
}

body {
    counter-reset: item-counter;
}

.list {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 220px;
    border: black solid 5px;
    border-radius: 100%;
    padding: 80px 0px 0px;
    justify-content: center;
    background-color: rgb(107, 86, 86);
    margin-top: 125px;
}

.li {
    counter-increment: item-counter;
    background: url(https://3dmodels.ru/uploads/texture_preview/5b07ddfd5cfe3.jpg);
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: black solid 2px;
    display: inline-block;
}

.block {
    text-align: center;
}

.li::before {
    content:  counter(item-counter, upper-roman);
    font-size: 30px;
    text-align: center;
    display: block;
    line-height: 50px;
}

